@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

        <div class="text-center"></div>
        <h1 class="display-4  text-center" >Academy Enterprise</h1>

        <div>
            <img  height="300" width="1000"  src="~/images/Itacademy.jpg" />
        </div>
        <div class="text-center">Developed by:</div>
        <div class="text-center">
            <h3>Barlan Urizar</h3>
        </div>

        <div class="text-center">barlanurizar@gmail.com</div>
        <div class="text-center">


            <p><a href="https://www.youtube.com/watch?v=Oso4740-W0o&t=4s">IT ACADEMY</a>.</p>
        </div>
        <header>

        </header>
